@media (max-width: 500px) {
    .wrapper{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
       
    }

    .chat-box{
        max-height:75vh;
        padding: 70px 30px 20px 30px;
    }

    .chat-area header{
        top: 0;
       position: fixed;
       background-color: rgb(255, 255, 255);
       width: 100%;
    }

    .chat-box .chat{
        margin: 15px 0;
     }

     .chat-area .typing-area{
        
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
}